.loan-calculator-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.dollar-sign-input{
  position: relative;
}

.percent-sign-input{
  position: relative;
}

.loan-amount-input{
  padding-left: 35px;
}

.dollar-sign{
  right: 170px;
  width: inherit;
  
}
.interest-rate-input{
  padding-right: 45px;
}

.percent-sign{
width: inherit;
right: calc(var(--spacer-sm) + 35px);
}

.percent-sign, .dollar-sign{
  overflow: visible;
  z-index: 5;
  font-weight: bold;
  padding-top: 2px;
  position: absolute;
  font-size: var(--font-size-med);
  color: var(--colors-accent);
}

form::after{
  content: ' ';
  width: 100%;
  margin: var(--spacer-sm) 0;
  height: calc(2 * var(--border-width));
  background-color: var(--colors-accent);
}




@media all and (min-width: 700px){
  .loan-calculator-wrapper{
    flex-direction: row;
    justify-content: space-evenly;
  }

  form{
    margin-right: var(--spacer-lg);
  }
  form::after{
    transform: translate(var(--spacer-med)) rotate(90deg);
    transform-origin: right;
    margin-top: var(--button-width);
    margin-left: var(--spacer-sm);
    margin-right: var(--spacer-sm);
   
  }
}