.loan-calculator-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

@media all and (min-width: 700px){
  .loan-calculator-wrapper{
    flex-direction: row;
    justify-content: space-evenly;
  }
}