.loan-calculator-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.percent-sign, .dollar-sign{
  overflow: visible;
  z-index: 5;
  font-weight: bold;
  padding-top: 2px;
  position: absolute;
  font-size: var(--font-size-med);
  color: var(--colors-accent);
}

.loan-term-wrapper{
  width: inherit;
  height: inherit;
  padding: 0;
  background-color: var(--colors-accent-light);
}

.toggle-wrapper{
  display: flex;
  justify-content: center;
  padding: 0 var(--spacer-sm) var(--spacer-sm);
}

.toggle-active{
  background-color: var(--colors-accent);
  color: var(--colors-accent-light);
}

.instructions-wrapper{
  max-width: calc(4 * var(--button-width));
  margin-bottom: var(--spacer-lg);
}

.instructions-wrapper p{
  padding-top: 0;
}

@media all and (min-width: 700px){
  .loan-calculator-wrapper{
    flex-direction: row;
    justify-content: space-evenly;
  }

  form{
    margin-right: var(--spacer-lg);
  }
  form::after{
    transform: translate(var(--spacer-med)) rotate(90deg);
    transform-origin: right;
    margin-top: var(--button-width);
    margin-left: var(--spacer-sm);
    margin-right: var(--spacer-sm);
   
  }
}