.payment-info-wrapper{
  width: inherit;
  max-width: calc(4* var(--button-width));
 height: 350px;
}

.monthly-payment, .total-principal, .total-interest{
  display: flex;
  justify-content: space-between;
}

.monthly-payment{
  margin: var(--spacer-sm) 0;
}

.total-principal{
  padding: var(--spacer-sm) 0;
}

.monthly-payment-value{
  display: flex;
  position: relative;
}