.payment-info-wrapper{
  width: inherit;
  max-width: calc(4* var(--button-width));
  height: 350px;
}

.monthly-payment, .total-principal, .total-interest{
  display: flex;
  justify-content: space-between;
}

.monthly-payment{
  margin: var(--spacer-lg) 0 var(--spacer-sm);
}

.total-principal{
  padding: var(--spacer-sm) 0;
}

.highlight-wrapper{
  background-color: var(--colors-accent-light);
  padding: var(--spacer-sm);
  margin-bottom: var(--spacer-sm);
}